@import "partials/_headerwhite";

.about {
  display: flex;
  padding: 60px 280px 60px 280px;
  @media screen and (max-width: 1919px) {
    padding: 60px 180px 60px 180px;
  }
  @media screen and (max-width: 1439px) {
    padding: 60px 60px 60px 60px;
  }
  @media screen and (max-width: 1023px) {
    padding: 60px 60px 60px 60px;
    flex-direction: column;
  }
  @media screen and (max-width: 767px) {
    padding: 20px 30px 30px 30px;
  }
  &__box {
    align-self: baseline;
    padding: 0 30px 0 0;
    @media screen and (max-width: 767px) {
      padding: 0;
    }
  }
  &__subtitle {
    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 28px 0;
  }
  &__text {
    color: $dark-color;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    margin: 0 0 28px 0;
  }
  &__progress {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 365px;
    border-left: 4px solid $bg-header;
    padding-left: 30px;
  }
  &__progress-box {
    display: flex;
    flex-direction: column;
  }
  &__progress-number {
    display: flex;
    gap: 13px;
    margin: 0 0 10px 0;
  }
  &__progress-icon {
    width: 32px;
    height: 32px;
    display: block;
    align-self: center;
  }
  &__progress-subtitle {
    width: 365px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0;
  }
  &__progress-text {
    color: $burger-bg;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }
}
.team {
  background: url("../img/Team.jpg") no-repeat;
  background-size: 100% auto;
  min-height: 584px;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 1919px) {
    min-height: 438px;
  }
  @media screen and (max-width: 1439px) {
    min-height: 311px;
  }
  @media screen and (max-width: 1023px) {
    min-height: 233px;
  }
  @media screen and (max-width: 767px) {
    min-height: 114px;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    letter-spacing: 63px;
    text-transform: uppercase;
    opacity: 0.8;
    text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
    color: $color;
    margin: 0;
    display: block;
    align-self: center;
    @media screen and (max-width: 1439px) {
      font-size: 86px;
      line-height: 105px;
    }
    @media screen and (max-width: 1439px) {
      font-size: 46px;
      line-height: 56px;
    }
    @media screen and (max-width: 1439px) {
      font-size: 36px;
      line-height: 44px;
    }
  }
}
.about-team {
  display: flex;
  gap: 60px;
  padding: 60px 280px 60px 280px;
  @media screen and (max-width: 1919px) {
    padding: 60px 180px 60px 180px;
  }
  @media screen and (max-width: 1439px) {
    padding: 60px;
  }
  @media screen and (max-width: 1023px) {
    flex-direction: column;
  }
  @media screen and (max-width: 767px) {
    padding: 30px;
    gap: 30px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__text {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: $dark-color;
    margin: 0;
  }
  &__sublitle {
    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0;
    min-width: 362px;
  }
}

.slider-logo {
  background: $bg-main;
  padding: 30px 160px 30px 160px;
  @media screen and (max-width: 1919px) {
    padding: 30px 60px 30px 60px;
  }
  @media screen and (max-width: 767px) {
    padding: 30px 60px 0 60px;
  }
  &__block {
    padding: 0 0 30px 0;
    border-bottom: 2px solid $bg-header;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $burger-bg;
    margin: 0 0 30px 0;
    text-align: center;
  }
  &__box {
    background: $color;
    height: 110px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1919px) {
    }
    @media screen and (max-width: 1439px) {
    }
    @media screen and (max-width: 1023px) {
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  &__img {
    @media screen and (max-width: 1023px) {
      height: 35%;
    }
  }
}
.slick-track {
  transform: translate3d(-1329px, 0px, 0px);
  display: flex;
  gap: 40px;
}
@import "partials/footer";
