
.header-white{
	display: flex;
	justify-content: space-between;
	padding: 50px 160px 40px 160px;
	
	@media screen and (max-width: 1919px){
		padding-left: 60px;
		padding-right: 60px;
	}
	@media screen and (max-width: 1023px) {
		position: relative;
		flex-direction: column;
		padding: 105px 60px 0 60px;
	}
	@media screen and (max-width: 767px){
		flex-direction: row;
		padding: 54px 22px 0 15px;
	}
	&__logo-box{
		display: flex;
		gap: 29px;
		@media screen and (max-width: 767px){
			gap: 19px;
		}
	}
	&__logo{
		width: 130px;
	height: 60px;
	@media screen and (max-width: 1023px){
		margin-bottom: 30px;
	}
	@media screen and (max-width: 767px){
		width: 70px;
		height: 32px;
	}
	}
	&__logo-text{
		font-weight: 400;
      font-size: 36px;
      line-height: 44px;
      color: $burger-bg;
		position: relative;
      margin: 0;
		@media screen and (max-width: 767px){
      font-size: 20px;
      line-height: 24px;
		}
		&::before{
			content: '';
			background: url('../img/big-slash.svg');
			position: absolute;
         width: 21px;
         height: 47px;
         top: 0px;
         left: -25px;
			@media screen and (max-width: 767px){
				background: url('../img/small-slash.svg');
				width: 12px;
            height: 26px;
				left: -15px;
			}
		}
	}
	&__box{
		display: flex;
   flex-direction: column;
   gap: 18px;
	}
	&__holder{
		display: flex;
	gap: 18px;
	align-items: center;
	
	@media screen and (max-width: 1023px) {
		position: absolute;
		top: 50px;
		left: 60px;
	}
	@media screen and (max-width: 767px){
		background: $bg-header;
		top: 0;
		right: 0;
		left: 0;
		padding: 10px 15px 10px 22px;
		justify-content: space-between;	
	}
	}
	&__list{
		list-style: none;
	font-size: 0;
   margin: 0 8px 0 0;
	display: flex;
	justify-content: space-between;
	gap: 14px;
	padding: 0;
	}
	&__list-item{
		font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 1px;
	color: $other-text;
	display: block;
	position: relative;
	z-index: 1;
	&:hover{
		color: $color;
	}
	&:hover::before{
		content: '';
		background-color: $accent-color;
		width: 33px;
		height: 25px;
		border-radius: 8px;
		position: absolute;
		top: -5px;
		left: -7px;
		z-index: -1;
	}
	&.active::before{
		background-color: $blue;
	}
	}
	&__number{
		font-weight: 700;
		font-size: 16px;
	   line-height: 20px;
		text-decoration: none;
		color: $other-text;
		position: relative;
		&:hover{
			color: $accent-color;
			transition: 0.5s all ease;
		}
	}
	&__adress{
		font-weight: 400;
		font-size: 16px;
	   line-height: 20px;
		color: $other-text;
		font-style: normal;
		position: relative;
	   @media screen and (max-width: 767px){
			display: none;
		}
	}
	&__facebook{
		display: inline-block;
		position: relative;
		width: 24px;
		height: 24px;
		top: 2px;
		fill: $other-text;
		@media screen and (max-width: 767px){
			display: none;
		}
		&:hover svg path{
			transition: 0.5s all ease;
			fill: $accent-color;
		}
	}
	&__dots{
		&::before{
			content: '';
			position: absolute;
			width: 6px;
			height: 6px;
			top: 7px;
			left: -12px;
			background-color: $bg-header;
			border-radius: 50px;
			@media screen and (max-width: 767px){
				display: none;
			}
		}
	}
}
.nav-white{
	position: relative;
	&.active{
		.nav-white__btn{
			&::before{
				content: '';
				background-color: $bg-header;
				width: 32px;
				height: 32px;
				border-radius: 8px;
				position: absolute;
				top: -8px;
            left: -7px;
			}
		}
		.nav-white__close{
			width: 27px;
         height: 27px;
			background-image: url('../img/button-close.svg');
			}
		.nav-white__list{
			@media screen and (max-width: 767px){
				background-color:  $color;
				border-radius: 12px 12px 0px 0px;
				overflow: auto;
				display: block;
				max-height: 100%;
				display: flex;
            flex-direction: column;
            gap: 15px;
				padding: 65px 0 12px 0;
				}
		}
			.nav-white__list-item{
				@media screen and (max-width: 767px){
					padding: 0 12px 0 12px;
					text-align: center;
					&:hover{
						border-bottom: none;
					}
				}
			}
			.nav-white__list-link{
				@media screen and (max-width: 767px){
					padding: 7px 20px 7px 20px;
					color: $nav-color;
					background: #F5F5FA;
					display: block;
					border-radius: 12px;
					font-weight: 700;
               font-size: 24px;
               line-height: 29px;
					&:hover{
						color: $accent-color;
						transition: 0.5s all ease;
					}
				}
			}
			.nav-white__about{
			
				color: $accent-color;
				opacity: 70%;

			}
			.nav-white__holder{
				@media screen and (max-width: 767px){
					position: fixed;
					bottom: 0;
					left: 0;
					right: 0;
					z-index: 1;
					max-height: 100vh;
					display: flex;
				justify-content: flex-end;
				flex-direction: column;
				padding: 0 15px;
				}
		   }
	      .nav-white__mobile-holder{
				@media screen and (max-width: 767px){
					position: relative;
					max-height: 100vh;
					}	
			}
	}
	&__list{
		font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 15px;
	justify-content: flex-end;
	@media screen and (max-width: 1023px){
		justify-content: flex-start;
	}
	@media screen and (max-width: 767px){
		display: none;
	}
	}
	&__btn{
		background: none;
		border: none;
		display: none;
		cursor: pointer;
		@media screen and (max-width: 767px){
			display: flex;
			flex-direction: column;
         gap: 5px;
         width: 18px;
         padding: 0;
			position: relative;
			margin-top: 3px;
		}
		span{
      height: 2px;
		background: $burger-bg;
		z-index: 2;
		}
	}
	&__close{
		background: none;
		border: none;
		display: none;
		position: absolute;
		right: 18px;
      top: 15px;
		cursor: pointer;
		
		@media screen and (max-width: 767px){
			display: block;
		}
	}
	&__list-item{
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	&:hover{
		border-bottom: 2px solid $nav-color;
	}
	}
	&__list-link{
	color: $nav-color;
	text-decoration: none;
	}
	&__about{
		color: $accent-color;
		opacity: 100%;
		border-bottom: 2px solid $accent-color;
		@media screen and (max-width: 767px){
			border-bottom: none;
		}
	}
}