$white: #fff;
$black: #000;
$blue: #24A3FF;
$dark-gray: rgba(255, 255, 255, 0.3);
$rose: #F0145A;
$fiolet: #323264;
$light_gray: #E6E6F0;
$gray: #B3B3BA;
$silver: #F5F5FA;
$dark-violet: #46466E;



$bg-main: $silver;
$other-text: $gray;
$bg-header: $light_gray;
$accent-color: $rose;
$row-subtitle-color: $blue;
$color: $white;
$border-color: $dark-gray;
$burger-bg: $fiolet;
$nav-color: $blue;
$dark-color: $black;
$footer-text: $dark-violet;


$font-montserrat: 'Montserrat', sans-serif;